__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# Environment variables
.env
.env.*

# IDEs
.vscode/
.idea/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
cospack_env/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# FastAPI specific
instance/
*.log

# Pydantic cache
__pydantic__/ 

# Docker
*.pid
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db

build/*
dist/*
ui/__pycache__/*
