name: Build macOS App with PyInstaller

on:
  push:
    branches: [feature/5_5_feedback]

jobs:
  build-mac:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build macOS app with PyInstaller
        run: |
          pyinstaller \
            --noconfirm \
            --windowed \
            --name shipping-app \
            main.py

      - name: Upload built app
        uses: actions/upload-artifact@v3.1.3
        with:
          name: macos-app
          path: dist/shipping-app.app
